@model List<Customer>
@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div> *@

@if (Model.Any())
{
    <div>
        Keyvault Verified
        <br>
        Azure Function Verified
    </div>
}

<div style="margin-top:10px;">
    <h4>Contacts from API call</h4>
    <ul>
        @foreach (var cus in Model)
        {
            <li>@cus.CustomerId-@cus.FirstName-@cus.LastName</li>
        }
    </ul>
</div>